@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,700&family=Hind+Siliguri:wght@400;600;700&family=Space+Mono:wght@700&display=swap');

@font-face {
  font-family: 'Giorgio';
  font-style: normal;
  font-weight: normal;
  src: local('Giorgio'), url('/fonts/Giorgio.woff') format('woff');
}
  

@font-face {
  font-family: 'Giorgio-Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Giorgio-Thin'), url('/fonts/Giorgio-Thin.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-family: "Giorgio", sans-serif;
  color: #fff;
  @apply bg-shark-970;
  text-rendering: geometricPrecision;
}

input[type="search"] {
  -webkit-appearance: none !important;
}

.fixed-bottom {
  position: fixed;
  z-index: 9;
  @apply bottom-[62px] xs:bottom-[78px] left-0 right-0;
}

.disabled-element {
  @apply opacity-30 pointer-events-none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

#nav-wrapper .swiper-slide.swiper-slide-active {
  @apply !mx-2;
}

.swiper {
  overflow: visible !important;
}

.slick-slide {
  height: 100%;
}